<% if flash[:alert] || flash[:notice] %>
  <div class="alert alert-danger alert-dismissable">
     <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
     <ul>
        <% flash.each do |key, value| %>
          <% unless value.is_a? String %>
            <% value.uniq.each do |message| %>
            <li>
              <%= message %>
            </li>
            <% end %>
          <% else %>
            <li>
              <%= value %>
            </li>
          <% end %>
        <% end %>
     </ul>
  </div>
<% end %>