<!-- Single Widget Area -->
<div class="single-widget-area subscribe_widget text-center">
    <div class="widget-title">
        <h6>Subscribe &amp; Follow</h6>
    </div>
    <div class="subscribe-link">
        
         <div class="single-icon">
            <%= link_to raw("<i class='fa fa-facebook' aria-hidden='true'></i> Facebook"), 'www.facebook.com' %>
        </div>
        
        
        <div class="single-icon">
            <%= link_to raw("<i class='fa fa-instagram' aria-hidden='true'></i> Instagram"), 'www.instagram.com' %>
        </div>
        
        <div class="single-icon">
            <%= link_to raw("<i class='fa fa-youtube-play' aria-hidden='true'></i> Youtube"), 'www.youtube.com' %>
            
        </div>
    </div>
</div>